@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/default.css" id="theme-color">
<style>
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To The Employee Management App</p>
</div>


<script src="js/scripts.js"></script>
